# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Docu
documentation/html/
documentation/latex/

# Build
build/

# Run shell
run_viewer.sh

# IDE and Text Editor
.vscode/

# My Run Shell
run_viewer.sh
